@import '/./style/img.css';
@import './btns.css';
@import './input.css';
@import '/style/imges_elements.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin: 0 auto;
}


